* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Arial;
  background: #f1f5f8;
  color: #222;
  box-sizing: border-box;
}

.book-list {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .book-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.book img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
}

.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}
.book h3 {
  font-size: 0.9rem;
}
.book h4 {
  color: #617d98;
  font-size: 0.75;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.book-title {
  margin-bottom: 0.75rem;
}

.book-order {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75rem 0.5rem;
  color: #fff;
  background: #c35600;
  color: #fff;
  border-radius: 1rem 0 1rem 0;
}

button {
  padding: 2px 5px;
}
