* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Arial;
  background: #f1f5f8;
  color: #222;
  box-sizing: border-box;
}

.book-list {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .book-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

.book img {
  width: 100%;
  object-fit: cover;
}

.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}
.book h3 {
  font-size: 0.9rem;
}
.book h4 {
  color: #617d98;
  font-size: "0.75";
  margin-top: "0.5rem";
}

.book-title {
  margin-bottom: 1rem;
}
